<div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      
        <md-card  >
            <md-card-content>
                <h2 class="md-title">Tools</h2>
                  <md-button ng-click="s.syncBoxInfo()" class="md-raised md-primary">Sync Box Info to App</md-button>

                 
            </md-card-content>
        </md-card>



        <md-card >
            <md-card-content style="padding-bottom: 80px;">
            <h2 class="md-title">Users</h2>
 
                <md-list-item style="width:600px;" ng-repeat="user in s.users">
                    
                    <b>{{user.name|titlecase}}</b>&nbsp;&nbsp;&nbsp;&nbsp; Drop Ins: {{s.userDropIns(user._id).length}}
                    
                    
                </md-list-item>
            </md-card-content>
        </md-card>


    </md-content>
</div>

