<div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      
        <md-card  >
            <md-card-content>
                <h2 class="md-title">Tools</h2>
                  <md-button ng-click="s.syncBoxInfo()" class="md-raised md-primary">Sync Box Info to App</md-button>

                 
            </md-card-content>
        </md-card>



        <md-card >
            <md-card-content style="padding-bottom: 80px;">
            <h2 class="md-title">Users</h2>
 
                <md-list-item style="flex-wrap: wrap;"  ng-repeat="user in s.users">
                    
                    <b>{{user.name|titlecase}}</b>
                    <span style="width:100%;" ng-hide="s.userDropIns(user._id)==0">&nbsp;&nbsp;&nbsp;&nbsp; Drop Ins:</span>
                    
                    <div style="width:100%;" ng-repeat="dropin in s.userDropIns(user._id)">
                       &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  {{$index}})&nbsp;&nbsp;{{s.boxName(dropin.boxID)|titlecase}} 
                       &nbsp;&nbsp;&nbsp; {{dropin.rating}}/5  
                       &nbsp;&nbsp;"{{dropin.review}}" &nbsp;&nbsp;&nbsp;  
                       <span ng-click="deleteDropIn(dropin)" class="icon-trash-bin"></span> 
                    </div> 
                    
                </md-list-item>
            </md-card-content>
        </md-card>


    </md-content>
</div>

