<div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
      
        <md-card  >
            <md-card-content>
                <h2 class="md-title">Glboal Settings</h2>
                <md-input-container flex>
                  <label>Analysis Length (month)</label>
                  <input ng-change="changeDuration()" ng-model="s.analysisDuration">
                </md-input-container>

                 <md-input-container>
                    <label>Starting Month</label>
                    <md-select ng-model="s.startMonth">
                      <md-option ng-repeat="month in s.months" value="{{$index}}">{{month}}</md-option>
                    </md-select>
                  </md-input-container>
            </md-card-content>
        </md-card>



        <md-card >
            <md-card-content style="padding-bottom: 80px;">
            <h2 class="md-title">Stored Analyses</h2>
 
                <md-list-item style="width:600px;" ng-repeat="analysis in s.analyses">
                    <md-button class="md-fab md-mini">
                      <i ng-click="loadAnalysis($index)" class="material-icons">open_in_browser</i>
                      <md-tooltip>Load</md-tooltip>
                    </md-button>

                    <md-button class="md-fab md-mini">
                      <i ng-click="saveAnalysis($index)" class="material-icons">save</i>
                      <md-tooltip>Save</md-tooltip>
                    </md-button>

                    <md-button class="md-fab md-mini">
                      <i ng-click="downloadAnalysis($index)" class="material-icons">get_app</i>
                      <md-tooltip>Download</md-tooltip>
                    </md-button>


                    <md-input-container style="position: relative;top: 11px;margin: 10px;">
                      <input ng-model="analysis.name">
                    </md-input-container>

                    <md-button class="md-fab md-mini md-warn">
                      <i ng-click="deleteAnalysis($index)" class="material-icons">delete</i>
                      <md-tooltip>Delete</md-tooltip>
                    </md-button>
                    
                    
                </md-list-item>



                <md-fab-speed-dial md-direction="up" md-open="false" class="addFAB2" ng-class="md-fling">
                    <md-fab-trigger>
                      <md-button aria-label="menu" class="md-fab ">
                        <i class="material-icons">add</i>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <md-button ng-click="addAnalysis()" aria-label="New" class="md-fab md-raised md-mini md-primary">
                        <i class="material-icons">add</i>
                        <md-tooltip>New</md-tooltip>
                      </md-button>
                      <md-button ng-click="addAnalysis()" aria-label="From Disk" class="md-fab md-raised md-mini md-primary">
                        <i class="material-icons">save</i>
                        <md-tooltip>From Disk</md-tooltip>
                      </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            

            </md-card-content>
        </md-card>


    </md-content>
</div>

