<md-dialog aria-label="Select a Lifter"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Please Select a Lifter</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="icon-times" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-list-item ng-click="pickLifter(lifter._id)" ng-repeat="lifter in s.lifters | orderBy:orderByLength ">
            <p>{{lifter.name}}({{lifter.lifts.length}})</p>
        </md-list-item>
        
      </div>
    </md-dialog-content>
  </form>
</md-dialog>